@{

    Validation.RequireField("name", "The name for the order is required");
    Validation.Add("width", Validator.Integer());
    Validation.Add("length", Validator.Integer());
    Validation.Add("drawerCount", Validator.Integer());
    Validation.Add("deskMaterial", Validator.Integer());
    Validation.Add("rushOrder", Validator.Integer());

    if (IsPost && Validation.IsValid())
    {
        var name = Request.Form["name"];
    int width = Request.Form["width"].AsInt();
    int length = Request.Form["length"].AsInt();
    int drawers = Request.Form["drawerCount"].AsInt();
    int material = Request.Form["deskMaterial"].AsInt();
    int rush = Request.Form["rushOrder"].AsInt();




            <text>
                You entered: <br />
                Name on Order: @name <br />
                Desk Width: @width <br />
                Desk Length: @length <br />
                number of drawers: @drawers <br />
                Material option: @material <br />
                Days for order: @rush<br />
            </text>
        
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order A Desk App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!--CSS File for project-->
    <link href="/styles/mainStyle.css" rel="stylesheet" />

</head>
<body>
    @RenderPage("~/Shared/_Header.cshtml")
    <div class="col-sm-8 text-left">
        <form method="post">

            <h1>Desk Order Form</h1>

            <p>
                <label for="name">Name on Order:</label>
                <input type="text" name="name" value="@Request.Form["name"]"/>
                @Html.ValidationMessage("name")
            </p>
            <p>
                <label for="width">Width in inches:</label>
                <input type="text" name="width" value="@Request.Form["width"]"/>
                @Html.ValidationMessage("width")
            </p>

            <p>
                <label for="length">Length in inches:</label>
                <input type="text" name="length" value="@Request.Form["length"]"/>
                @Html.ValidationMessage("length")
            </p>

            <!-- Drawer order drop down menu-->
            <p>
                <label for="drawerCount">How Many Drawers:</label>
                <select name="drawerCount" value="@Request.Form["drawerCount"]">
                    <option value="0">0 drawers ($0)</option>
                    <option value="1">1 drawers ($50)</option>
                    <option value="2">2 drawers ($100)</option>
                    <option value="3">3 drawers ($150)</option>
                    <option value="4">4 drawers ($200)</option>
                    <option value="5">5 drawers ($250)</option>
                    <option value="6">6 drawers ($300)</option>
                    <option value="7">7 drawers ($350)</option>
                </select>
                @Html.ValidationMessage("drawerCount")
            </p>
            <!-- Material drop down Menu-->
            <p>
                <label for="deskMaterial">Desk Material:</label>
                <select name="deskMaterial" value="@Request.Form["deskMaterial"]">
                    <option value="1"> Pine ($50)</option>
                    <option value="2"> Laminate ($100)</option>
                    <option value="3"> Oak ($200)</option>
                    <option value="4"> Mahogany ($250)</option>
                    <option value="5"> Zebrawood ($300)</option>
                    <option value="6"> Purpleheart ($350)</option>
                </select>
                @Html.ValidationMessage("deskMaterial")
            </p>
            <p>
                <label for="rushOrder">Rush Order Price:</label>
                <select name="rushOrder" value="@Request.Form["rushOrder"]">
                    <option value="14"> regular order 14 days</option>
                    <option value="3">3 day rush()</option>
                    <option value="5">5 day rush()</option>
                    <option value="7">7 day rush()</option>
                </select>
                @Html.ValidationMessage("rushOrder")
            </p>

            <p><input type="submit" name="buttonSubmit" value="Submit Order" /></p>

        </form>
    </div>
    <div class="col-sm-2 sidenav">
    </div>


        @RenderPage("~/Shared/_Footer.cshtml")
</body>
</html>
