@{
    var name = "";
    int width = 0;
    int length = 0;
    int drawers = 0;
    var material= "";
    int rush = 0 ;
    var orderId = "";
    var date = ""; //needs to be fixed

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            orderId = Request.QueryString["ID"];
            var db = Database.Open("deskOrders");
            var dbCommand = "SELECT * FROM orders WHERE orderId = @0";
            var row = db.QuerySingle(dbCommand, orderId);


            if (row != null)
            {
                name = row.name;
                width = row.width;
                length = row.length;
                drawers = row.drawers;
                material = row.material;
                rush = row.rushOrder;
                


            }
            else
            {
                Validation.AddFormError("No Order selected.");
            }
        }
        else
        {
            Validation.AddFormError("No Order selected.");
        }
        if (IsPost)
        {
            Validation.RequireField("name", "You must enter a name");
            Validation.RequireField("width", "You haven't entered a width");
            Validation.RequireField("length", "You haven't entered a length");
            Validation.RequireField("drawerCount", "Please enter a valid number");
            Validation.RequireField("deskMaterial", "No material selected!");
            Validation.RequireField("rushOrder", "Please enter a valid number");
            Validation.RequireField("orderid", "No Entry ID was submitted!");

            name = Request.Form["name"];
            width = Request.Form["width"].AsInt();
            length = Request.Form["length"].AsInt();
            drawers = Request.Form["drawerCount"].AsInt();
            material = Request.Form["deskMaterial"];
            rush = Request.Form["rushOrder"].AsInt();

            orderId = Request.Form["orderId"];

            int total = 0;
            

            if (Validation.IsValid())
            {
                var db = Database.Open("deskOrders");
                var updateCommand = "UPDATE orders SET name=@0, width=@1, length=@2, drawers=@3, material=@4, rushOrder=@5, dateOrdered=@6, total=@7 WHERE Id=@8";
                db.Execute(updateCommand, name, width, length, drawers, material, rush, date, total, orderId);
                Response.Redirect("~/orders");
            }
        }
    }
    Layout = "~/Shared/_Layout.cshtml";
}
@section PageTitle { Mega Escritorio - Edit Desk Order }

<h1>Edit Order</h1>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Order Information</legend>

        <p>
            <label for="name">Name:</label>
            <input type="text" name="name" value="@name" />
        </p>

        <p>
            <label for="width">width:</label>
            <input type="text" name="width" value="@width" />
        </p>

        <p>
            <label for="length">length:</label>
            <input type="text" name="length" value="@length" />
        </p>
        <p>
            <label for="drawerCount">How Many Drawers:</label>
            <select name="drawerCount" value="@drawers">
                <option value="0">0 drawers ($0)</option>
                <option value="1">1 drawers ($50)</option>
                <option value="2">2 drawers ($100)</option>
                <option value="3">3 drawers ($150)</option>
                <option value="4">4 drawers ($200)</option>
                <option value="5">5 drawers ($250)</option>
                <option value="6">6 drawers ($300)</option>
                <option value="7">7 drawers ($350)</option>
            </select>
                
        </p>
        <p>
            <label for="deskMaterial">Desk Material:</label>
            <select name="deskMaterial" value="@material">
                <option value="1"> Pine ($50)</option>
                <option value="2"> Laminate ($100)</option>
                <option value="3"> Oak ($200)</option>
                <option value="4"> Mahogany ($250)</option>
                <option value="5"> Zebrawood ($300)</option>
                <option value="6"> Purpleheart ($350)</option>
            </select>
                
        </p>
        <p>
            <label for="rushOrder">Rush Order Price:</label>
            <select name="rushOrder" value="@rush">
                <option value="14"> regular order 14 days</option>
                <option value="3">3 day rush()</option>
                <option value="5">5 day rush()</option>
                <option value="7">7 day rush()</option>
            </select>
                
        </p>

        <input type="hidden" name="orderid" value="@orderId" />

        <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
</form>
